* {
  box-sizing: border-box;
}

:root {
  --primary-color: #6953fe;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.8;
}

header a,
footer a {
  color: #ffffff;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.header__base {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}

.header__base a {
  color: #000000;
}

.header__address {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #000;
}

.header__location {
  position: relative;
  margin-right: 120px;
  padding-left: 25px;
}

.header__location::before {
  position: absolute;
  left: 0;
  content: "";
  width: 12px;
  height: 17px;
  background-image: url("./img/icons/geo-tag.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__phone {
  position: relative;
  padding-left: 30px;
}

.header__phone::before {
  position: absolute;
  left: 0;
  content: "";
  width: 17px;
  height: 17px;
  background-image: url("./img/icons/phone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav {
  background-color: var(--primary-color);
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 26px;
  padding-bottom: 26px;
}

.list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.main-menu {
  display: flex;
  justify-content: space-between; /* flex-end задан в правиле выше. А зачем он здесь - мне непонятно. Так что оставлю пока как есть*/
  /* justify-content: flex-end; */
  font-size: 18px;
  line-height: 21px;
  width: 100%;
}

.main-menu li {
  margin-left: 100px; /* <-- это не нравится. Может без фиксированного отступа, а просто space-between, чтоб резиновость сохранялась?? */
}

/* .main-menu li:first-child {
  margin-left: 0;
} */

/* если обнулить отступ у первого элемента, то не будет соответствовать макету. Или я туплю*/

.hamb {
  position: relative;
  height: 40px;
  width: 40px;
  padding: 0;
}

.hamb__line {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
}

.hamb__line::before {
  content: "";
  position: absolute;
  top: 5px;
  display: block;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
}

.hamb__line::after {
  content: "";
  position: absolute;
  bottom: 5px;
  display: block;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
}

/* BODY */

/* HERO */

.hero {
  background: #e5e5e5;
  background-image: url("./img/bg-hero-min.png");
  /* background-color: ##E7E3FF; */
  background-repeat: no-repeat;
  background-position: top 0 right 0;
}

.inner {
  padding-top: 125px;
  padding-bottom: 155px;
  max-width: 550px;
}

.title-section {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  margin-bottom: 0;
}

.hero__title-section {
  max-width: 500px;
}

.list_features {
  margin-top: 60px;
  margin-bottom: 72px;
}

.list_features li {
  position: relative;
  padding-left: 50px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 140%;
}

.list_features li::before {
  position: absolute;
  left: 0;
  top: -5px;
  content: "";
  width: 27px;
  height: 27px;
  background-image: url("./img/icons/check.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
}

.hero__btn {
  display: inline-block;
  padding: 24px 85px;
  border-radius: 10px;
  background: linear-gradient(94.78deg, #6f59ff 29.06%, #7f93ff 116.53%);
 
}

.hero__btn-text {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  color: #ffffff;
}

/* RENT */

.rent {
  background: rgba(231, 227, 255, 0.36);
  padding-top: 83px;
  padding-bottom: 112px;
}

.rent__item h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 30px;
}


.list_rent {
  display: flex;
}

.rent__item {
  display: flex;
  flex-direction: column;
  max-width: calc(100%/4);
  text-align: center;
}

.rent__item-text {
  color: #7C7C7C;

}

.icon {
  width: 100px;
  height: 100px;
  margin: 100px auto 130px;
  background: #FFFFFF;
  box-shadow: 0px 7px 16px rgba(105, 83, 254, 0.07);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
}


.icon__car {
  background-image: url("./img/icons/car.png");
  background-size: 58px;
}

.icon__list {
  background-image: url("./img/icons/list.png");
  background-size: 27px;
}

.icon__man {
  background-image: url("./img/icons/man.png");
  background-size: 26px;
}

.rent__item .icon__key {
  background-color: #6953fe;
  background-image: url("./img/icons/car-key.png"); 
  background-size: 31px;
  background-repeat: no-repeat;
  background-position: center;
}




/* FOOTER */

.footer-page {
  background-color: #1c1c1c;
  color: #ffffff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.footer-nav {
  display: flex;
}

.logo_footer {
  margin-right: 140px;
}

.footer-menu {
  font-size: 18px;
  line-height: 21px;
}

.footer-menu li {
  margin-bottom: 45px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  font-size: 24px;
  line-height: 28px;
}

.footer__location {
  margin-bottom: 75px;
  position: relative;
  padding-left: 45px;
}

.footer__location::before {
  position: absolute;
  left: 0;
  content: "";
  width: 16px;
  height: 23px;
  background-image: url("./img/icons/geo-tag.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer__phone {
  position: relative;
  padding-left: 45px;
}

.footer__phone::before {
  position: absolute;
  left: 0;
  content: "";
  width: 23px;
  height: 23px;
  background-image: url("./img/icons/phone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.copyright {
  display: flex;
  padding-bottom: 45px;
  font-size: 14px;
  line-height: 16px;
}


/* МЕДИА-ЗАПРОСЫ */

@media (max-width: 1300px) {
  .main-menu li {
    margin-left: 30px;
  }
}
@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 480px) {
}
