* {
  box-sizing: border-box;
}

:root {
  --primary-color: #6953fe;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

html {
  height: 100%
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #000000;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.8;
}

header a,
footer a {
  color: #ffffff;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

label {
  display: block;
  width: 85%;
  margin: 0 auto 20px;
}

.input-title {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="button"],
input[type="date"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  display: block;  
  border: 2px solid #BFBFBF;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
}

textarea {
  resize: none;
  min-height: 100px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.header__base {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}

.header__base a {
  color: #000000;
}

.header__address {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #000;
}

.header__location {
  position: relative;
  margin-right: 120px;
  padding-left: 25px;
}

.header__location::before {
  position: absolute;
  left: 0;
  content: "";
  width: 12px;
  height: 17px;
  background-image: url("./img/icons/geo-tag.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__phone {
  position: relative;
  padding-left: 30px;
}

.header__phone::before {
  position: absolute;
  left: 0;
  content: "";
  width: 17px;
  height: 17px;
  background-image: url("./img/icons/phone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav {
  background-color: var(--primary-color);
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 26px;
  padding-bottom: 26px;
}

.list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.main-menu {
  display: flex;
  justify-content: space-between; /* flex-end задан в правиле выше. А зачем он здесь - мне непонятно. Так что оставлю пока как есть*/
  /* justify-content: flex-end; */
  font-size: 18px;
  line-height: 21px;
  width: 100%;
}

.main-menu li {
  margin-left: 100px; /* <-- это не нравится. Может без фиксированного отступа, а просто space-between, чтоб резиновость сохранялась?? */
}

/* .main-menu li:first-child {
  margin-left: 0;
} */

/* если обнулить отступ у первого элемента, то не будет соответствовать макету. Или я туплю*/

.hamb {
  display: none;
  position: relative;
  height: 40px;
  width: 40px;
  padding: 0;
}

.hamb__line {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
}

.hamb__line::before {
  content: "";
  position: absolute;
  top: 5px;
  display: block;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
}

.hamb__line::after {
  content: "";
  position: absolute;
  bottom: 5px;
  display: block;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
}

.close-menu {
  display: none;
  width: 25px;
  height: 25px;
  background-repeat: repeat;
  background-size: cover;
  background-image: url(img/icons/close.svg);
}

/* BODY */

/* HERO */

.hero {
  background: #e5e5e5;
  background-image: url("./img/bg-hero-min.png");
  /* background-color: ##E7E3FF; */
  background-repeat: no-repeat;
  background-position: top 0 right 0;
}

.inner {
  padding-top: 125px;
  padding-bottom: 155px;
  max-width: 550px;
}

.title-section {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 0;
  text-align: center;
}

.hero__title-section {
  max-width: 500px;
  text-align: left;
}

.list_features {
  margin-top: 60px;
  margin-bottom: 72px;
}

.list_features li {
  position: relative;
  padding-left: 50px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 140%;
}

.list_features li::before {
  position: absolute;
  left: 0;
  top: -5px;
  content: "";
  width: 27px;
  height: 27px;
  background-image: url("./img/icons/check.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
}

.btn {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 10px;
  background: linear-gradient(94.78deg, #6f59ff 29.06%, #7f93ff 116.53%);
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
/* RENT */

.rent {
  background: rgba(231, 227, 255, 0.36);
  padding-top: 83px;
  padding-bottom: 112px;
}

.rent__item h3 {
  margin: 0;
  margin-bottom: 30px;
}

.list_rent {
  display: flex;
}

.rent__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% / 4);
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.rent__item-text {
  color: #7c7c7c;
}

.icon {
  width: 100px;
  height: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  background: #ffffff;
  box-shadow: 0px 7px 16px rgba(105, 83, 254, 0.07);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon__car {
  position: relative;
  background-image: url("./img/icons/car.png");
  background-size: 58px;
  z-index: 2;
}

.icon__list {
  background-image: url("./img/icons/list.png");
  background-size: 27px;
}

.icon__man {
  background-image: url("./img/icons/man.png");
  background-size: 26px;
}

.rent__item .icon__key {
  background-color: #6953fe;
  background-image: url("./img/icons/car-key.png");
  background-size: 31px;
  background-repeat: no-repeat;
  background-position: center;
}

.line-item {
  position: relative;
  
}

.line-item::after {
  position: absolute;
  left: 100%;
  top: 100px;
  content: "";
  display: block;
  height: 100px;
  width: calc(1260px / 4 - 100px);
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(1260px / 4 - 130px);
  background-image: url(img/line-1.svg);
}

.line-item_two::after {
  background-image: url(img/line-2.svg);
  background-position: center top calc(50% + 20px);
}

.line-item_three::after {
  background-position: center top calc(50% - 10px);
}

/* CARS */

.cars {
  padding-top: 133px;
}

.list_cars {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  padding-bottom: 70px;
}

.card {
  width: calc(50% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 76px;
}

.card__tags {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

.card__tags li {
  display: flex;
  align-self: center;
  padding: 13px;
  border-radius: 10px;
  background: #f6f4ff;
}

.card__info {
  font-size: 18px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card__wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card__info-name {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

.card__info-price {
  color: var(--primary-color);
  font-weight: 300;
}

.tag-icon {
  
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
}

.engine {
  background-image: url("./img/icons/engine.png");
}

.fuel {
  background-image: url("./img/icons/fuel.png");
}

.transmission {
  background-image: url("./img/icons/transmission.png");
}

.canister {
  background-image: url("./img/icons/canister.png");
}

.tag-text {
  margin-left: 10px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: var(--primary-color);
  display: flex;
  align-self: center;
}

/* FOOTER */

.footer-page {
  background-color: #1c1c1c;
  color: #ffffff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.footer-nav {
  display: flex;
}

.logo_footer {
  margin-right: 140px;
}

.footer-menu {
  font-size: 18px;
  line-height: 21px;
}

.footer-menu li {
  margin-bottom: 25px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  font-size: 24px;
  line-height: 28px;
}

.footer__location {
  margin-bottom: 40px;
  position: relative;
  padding-left: 45px;
}

.footer__location::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 16px;
  height: 23px;
  background-image: url("./img/icons/geo-tag.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer__phone {
  position: relative;
  padding-left: 45px;
}

.footer__phone::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 23px;
  height: 23px;
  background-image: url("./img/icons/phone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.copyright {
  display: flex;
  padding-bottom: 45px;
  font-size: 14px;
  line-height: 16px;
}

/* SINGLE-PAGE */

.single__page {
  background: #e5e5e5;
}

.single__container {
  padding-top: 90px;
  padding-bottom: 100px;
}

.single__page-wrap {
  display: flex;
  margin-bottom: 40px;
}

.slider-wrapper {
  width: calc(70% - 60px);
  outline: 1px solid red;
}

.car-data-box {
  width: 30%;
  margin-left: 60px;
}

.car-feature {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.car-value {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.car__info-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.car__info-list li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  border-bottom: 1px solid #80808061;
  padding-bottom: 10px;
}

.car__info-list li:last-child {
  border-bottom: none;
}

.form {
  display: flex;
  flex-direction: column;
  background: #f6f5ff;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.btn[type="submit"] {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.page {
  padding: 50px 0;
}

.similar-cars .title-section {
  text-align: left;
  margin-bottom: 30px;
  color: #757575;
  font-size: 36px;
}

.list_similar {
  display: flex;
  overflow: hidden;
}

.similar-item {
  width: calc(100% / 4 - 10px);
  margin-left: 5px;
  margin-right: 5px;
  background-color: #F6F4FF;
  border-radius: 10px;
  text-align: center;
  padding: 10px 10px 25px 10px;
}

.similar-item__thumb {
  margin-bottom: 20px;
}

.similar-item__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.similar-item__price {
  font-weight: 700;
  font-size: 18px;
  color: #6953FE
}

/* МЕДИА-ЗАПРОСЫ */

@media (max-width: 1300px) {
  .main-menu li {
    margin-left: 30px;
  }

  .card__tags {
    flex-wrap: wrap;
  }

  .card__tags li {
    width: 49%;
    margin-bottom: 10px;
  }

  .hero .container {
    padding: 0;
  }

  .hero .inner {
    padding-left: 15px;
    padding-right: 15px;
    max-width: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
  }

  .line-item::after {
    display: none;
  }
}

@media (max-width: 992px) {
  .header__location {
    margin-right: 35px;
  }

  .main-menu {
    display: none;
  }

  .hamb {
    display: block;
  }

  .title-section {
    font-size: 32px;
  }
  
  .cars {
    padding-top: 50px;
  }

  .list_cars {
    margin-top: 50px;
  }

  .card {
    margin-bottom: 60px;
  }

  .rent {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .list_rent {
    flex-wrap: wrap;
  }

  .rent__item {    
    width: calc(100% / 2);
  }

  .icon {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .card__tags {
    margin-bottom: 10px;
  }

  .card__info-name {
    margin-bottom: 15px;
  }

  .card .btn {
    padding: 7px 14px;
    border-radius: 5px;
    font-size: 18px;
  }

  .footer__address {
    font-size: 16px;
  }

  .footer-menu {
    display: none;
  }

  .footer__location,
  .footer__phone {
    padding-left: 30px;
  }

  .footer__location::before {
    width: 13px;
    height: 18px;
  }

  .footer__phone::before {
    width: 18px;
    height: 18px;
  }

  .car-data-box {
    width: 30%;
    margin-left: 30px;
  }

  .btn {
    font-size: 18px;
  }

  .list_similar {
    flex-wrap: wrap;
  }

  .similar-item {
    width: calc(100% / 2 - 10px);
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .header__base {
    flex-direction: column;
    align-items: center;
  }

  .logo_header {
    margin-bottom: 30px;
  }

  .card__tags {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .card__tags li {
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
  }  

  .tag-icon {
    width: 15px;
    height: 15px;
    background-size: contain;
  }  

  .footer__address {
    padding-right: 0;
  }

  .single__container {
    padding-top: 50px;
    padding-bottom: 50px;
}

  .single__page-wrap {
    flex-wrap: wrap;
  }

  .slider-wrapper {
    width: 100%;
    margin-bottom: 40px;
  }

  .car-data-box {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 700px) {
  .card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid #6f59ff3d;
    padding-bottom: 25px;
  }

  .card:last-child {
    border-bottom: none;
  }

  .card__tags li {
    flex: 1;
  }
}

@media (max-width: 640px) {
  .inner {
    padding-top: 50px;
    padding-bottom: 50px
  }
  .header__address {
    font-size: 14px;
  }

  .card__wrap {
    padding-left: 5px;
  }

  .card__tags li {
    flex: calc(50% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    background: #f6f4ff;
  }

  .footer-content {
    padding-top: 40px;
    flex-direction: column;
  }

  .logo_footer {
    margin-bottom: 30px;
  }

  .footer__address {
    margin-bottom: 30px;
  }

  .footer__location {
    margin-bottom: 15px;
  }

  .similar-item__title {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .similar-item__price {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  h3 {
    font-size: 16px;
  }

  .header__address {
    flex-direction: column;
    align-items: center;
  }

  .header__location {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .title-section {
    font-size: 28px;
  }

  .rent__item-text {
    font-size: 14px;
  }

  .rent__item h3 {
    margin-bottom: 15px;
  }

  .similar-item {
    width: 100%;
    margin-bottom: 25px;
  }

  .similar-item__title {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .similar-item__price {
    font-size: 16px;
  }
}
